#!/bin/sh

MAC=00:19:FF:FF:FF:FF;
IP="192.168.1.12";
MP="/mnt/mnt0";
SHARENAME="name";
/bin/touch  /tmp/test.txt
echo $(date +"%d-%m-%y %H:%M:%S") "recording.timer: Timer gestartet..." >> /tmp/test.txt
while ! ping -c 1  $IP >> /dev/null; do
    /sbin/ether-wake $MAC;
	sleep 10;
	echo $(date +"%d-%m-%y %H:%M:%S") "recording.timer: Nas nicht erreichbar ..."  >> /tmp/test.txt
done
I=0;
while (! grep -qs $IP /proc/mounts) ; do
	if [ "$I" -lt "10" ]; then
		I=$((I + 1));
		echo $(date +"%d-%m-%y %H:%M:%S") "recording.timer: try $I to mount NAS  ..." >> /tmp/test.txt
		mount -t cifs -o user=guest  //$IP/$SHARENAME $MP	>> /tmp/test.txt
	else
		echo $(date +"%d-%m-%y %H:%M:%S") "recording.timer: Exit script after $I failed mounts ..." >> /tmp/test.txt
		exit
	fi
done

echo $(date +"%d-%m-%y %H:%M:%S") "recording.timer: Clear EPG..."  >> /tmp/test.txt
/bin/sectionsdcontrol --freemem	>> /tmp/test.txt
/bin/sectionsdcontrol --readepg $MP/epg	>> /tmp/test.txt
echo $(date +"%d-%m-%y %H:%M:%S") "recording.timer: EPG eingelesen..."  >> /tmp/test.txt



exit 0
